body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-of-time {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #3498db;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: #3498db;
    transform-origin: 100% 50%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    transition: transform 0.3s ease;
}

.task:hover {
    transform: scale(1.1);
}

.task-content {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-size: 12px;
    color: #fff;
}

.tooltip {
    position: absolute;
    background-color: rgba(52, 152, 219, 0.9);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.color-palette {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    transition: transform 0.3s ease;
}

.color-option:hover {
    transform: scale(1.1);
}

.task-form {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    width: 200px;
    border: 1px solid #3498db;
    border-radius: 5px;
}

.btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}
